body {
  font-family: var(--main-font);
}
.personal-info-header h1,
.certification-header h2,
.cell h3,
.cell p {
  width: max-content;
  margin: 0 auto;
  padding: 0.4em 0;
  letter-spacing: .5px;
}
.cell h3 {
  font-size: 1em;
  font-weight: 500;
  color: #666;
}
.cell p {
  font-size: .9em;
}
.cell {
  border-bottom: 1px solid rgb(221, 220, 220);
  border-left: 1px solid rgb(221, 220, 220);
  padding: .2em .5em;
  margin-left: -2px;
  margin-bottom: -1px;
  min-height: fit-content;
  width: auto;
  vertical-align: middle;
}
.rc-group {
  width: 15em;
  margin: 1em 0;
  box-sizing: border-box;
}
.rc-label {
  color: var(--dark-color);
  font-family: var(--main-font);
}
.rc-input {
  height: 2em;
  width: 90%;
  margin: 0.2em 0;
  padding: 0.2em;
  box-sizing: border-box;
  font-size: 1.25em;
}
.rc-select {
  height: 1.75em;
  width: 90%;
  margin: 0.2em 0;
  font-size: 1em;
}

/***** PERSONAL INFO  *****/
.personal-info {
  min-width: 54em;

  display: grid;
  grid-template-columns: repeat 5 (1fr);

  margin: 1em auto;
  box-shadow: 1px 1px 1px rgb(223, 223, 223);
  border: 1px solid rgb(221, 220, 220);
  border-radius: .2em;

  overflow: hidden;
}
.personal-info > form {
    width: 100%;

    grid-column-start: 1;
    grid-column-end: 6;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.personal-info-header {
  background: rgb(243, 243, 243);
  width: 100%;

  grid-column-start: 1;
  grid-column-end: 6;

  text-align: center;
  border-bottom: 1px solid #999;
}
.personal-info-header h1 {
  font-size: 1.3em;
  font-weight: 500;
  color: #555;
  text-shadow: 1px 1px 1px rgb(221, 220, 220);
}
/***** CERTIFICATION *****/
.certifications-container {
  min-width: 56em;

  display: grid;
  grid-template-columns: repeat 6 (1fr);
  grid-auto-flow: row;

  border: 1px solid rgb(221, 220, 220);
  border-radius: .2em;
  box-shadow: 1px 1px 1px rgb(228, 228, 228);
  margin: 1em auto;

  overflow: hidden;
}
.certification-header {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 6;

  text-align: center;
}
.certifications-container button {
  padding: .25em 1em;
  font-size: .75em;
}
.certification-header > button {
  display: block;
  position: absolute;
  right: .5em;
  top: 25%;
  z-index: 10;
}
.certification-header {
  border-bottom: 1px solid #999;
  background: rgb(243, 243, 243);
  position: relative;
}
.certification-header h2 {
  font-size: 1.1em;
  color: #666;
  font-weight: 500;
  text-shadow: 1px 1px 1px rgb(221, 220, 220);
}
.certification-header h3,
.cell h4 {
  width: max-content;
  margin: 0 auto;
  padding: 0.4em 0;
}

