body {
  font-family: var(--main-font);
}
.personal-info-header h1,
.certification-header h2,
.cell h3,
.cell p,
.cell button {
  width: max-content;
  margin: 0 auto;
  padding: 0.4em 0;
}
.cell h3 {
  font-weight: 500;
}
.cell {
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  margin-left: -2px;
  margin-bottom: -1px;
}
.rc-group {
  width: 15em;
  margin: 1em 0;
  box-sizing: border-box;
}
.rc-label {
  color: var(--dark-color);
  font-family: var(--main-font);
}
.rc-input {
  height: 2em;
  width: 100%;
  margin: 0.2em 0;
  padding: 0.2em;
  box-sizing: border-box;
  font-size: 1.25em;
}
.rc-select {
  height: 1.75em;
  width: 100%;
  margin: 0.2em 0;
  font-size: 1em;
}

/***** PERSONAL INFO  *****/
.personal-info {
  width: 50em;

  display: grid;
  grid-template-columns: repeat 4 (1fr);

  margin: 1em auto;
  box-shadow: 1px 1px 1px rgb(223, 223, 223);
  border: 1px solid #999999;
  border-radius: .2em;

  overflow: hidden;
}
.personal-info > form {
    width: 100%;

    grid-column-start: 1;
    grid-column-end: 5;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.personal-info-header {
  background: rgb(243, 243, 243);
  width: 100%;

  grid-column-start: 1;
  grid-column-end: 5;

  text-align: center;
  border-bottom: 1px solid #999;
}
.personal-info-header h1 {
  font-size: 1.5em;
  font-weight: 500;
  text-shadow: 1px 1px 1px rgb(221, 220, 220);
}
/***** CERTIFICATION *****/
.certifications-container {
  width: 50em;

  display: grid;
  grid-template-columns: repeat 6 (1fr);

  border: 1px solid #999999;
  border-radius: .2em;
  box-shadow: 1px 1px 1px rgb(223, 223, 223);
  margin: 1em auto;

  overflow: hidden;
}
.certification-header,
.certifications {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 6;

  text-align: center;
}
.certification-header > button {
  display: block;
  position: absolute;
  right: .5em;
  top: 25%;
  z-index: 10;
}
.certification-header {
  border-bottom: 1px solid #999;
  background: rgb(243, 243, 243);
  position: relative;
}
.certification-header h2 {
  font-size: 1.25em;
  font-weight: 500;
  text-shadow: 1px 1px 1px rgb(221, 220, 220);
}
.certification-header h3,
.cell h4 {
  width: max-content;
  margin: 0 auto;
  padding: 0.4em 0;
}
.certifications{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

